%link{:href =>"/assets/profile.css", :rel =>"stylesheet"}
%link{:href =>"/assets/jquery-ui.css", :rel =>"stylesheet"}
.padded-none.container-fluid
	.row-fluid
		.span2.left-1
			%ul.nav.nav-tabs.tabs-left
				%li.active
					%a{"data-toggle" => "tab", :href => "#preview"}
						%i.fa.fa-users.tab-big>
						\&nbsp;&nbsp;Preview
				%li
					%a{"data-toggle" => "tab", :href => "#configuration"}
						%i.fa.fa-calendar.tab-big>
						\&nbsp;&nbsp;Configure
				/ %li
				/ 	%a{"data-toggle" => "tab", :href => "#embed"}
				/ 		%i.fa.fa-paper-plane.tab-big>
				/ 		\&nbsp;&nbsp;Embed
				%li
					%a{"data-toggle" => "tab", :href => "#reviews"}
						%i.fa.fa-paper-plane.tab-big>
						\&nbsp;&nbsp;Reviews
		.span10.left-none.borderd
			.row-fluid
				.tab-content.level2-content
					#preview.tab-pane.active
						= render :partial =>"booking_appointment"						
					#configuration.tab-pane
						.span3
							%h3 Configuration
							%ul#Ul1.nav.nav-pills.nav-stacked.side-list
								%li.active
									%a{"data-toggle" => "tab", :href => "#details"}
										%i.icon-desktop
										%span Company Details
								%li
									%a{"data-toggle" => "tab", :href => "#hours"}
										%i.icon-facebook-sign
										%span Bussiness Hours
								%li
									%a{"data-toggle" => "tab", :href => "#policy"}
										%i.icon-bar-chart
										%span Bookign Policies
								%li
									%a#A1{"data-toggle" => "tab", :href => "#custom"}
										%i.icon-maxcdn
										%span Custmization
						.span9
							.tab-content.level3-content
								#details.tab-pane.active
									%h3 Configure Your ServU Booking Page
									%form.form-horizontal
										.control-group
											%label.control-label{:for => "inputEmail"}
												Profile Logo
											.controls
												%img{:src => "/assets/logo-placeholder.png"}/
										.control-group
											%label.control-label{:for => "inputEmail"} Email
											.controls
												%input#inputEmail{:placeholder => "Email", :type => "text"}
										.control-group
											%label.control-label{:for => "inputMobile"} Mobile
											.controls
												%input#inputMobile{:placeholder => "Mobile", :type => "text"}
										.control-group
											%label.control-label{:for => "inputOffice"} Website
											.controls
												%input#inputOffice{:placeholder => "Phone", :type => "text"}
										.control-group
											%label.control-label{:for => "inputHome"} Currency
											.controls
												%select
													%option USD
										.control-group
											%label.control-label{:for => "inputAddress"} Address
											.controls
												%textarea#inputAddress{:placeholder => "Address", :rows => "5"}
										.control-group
											%label.control-label{:for => "inputCity"} About You
											.controls
												%input#inputCity{:placeholder => "City", :type => "text"}
										.control-group
											%label.control-label{:for => "inputState"} Social Media
											.controls
												%input#inputState{:placeholder => "www.facebbo.com etc", :type => "text"}
								#hours.tab-pane
								#policy.tab-pane
								#custom.tab-pane
									%h3 Customize your Booking Page
									%h5 Customize the labels for Booking page
									%form.form-horizontal
										.control-group
											%label.control-label{:for => "inputEmail"}
												Time Format
											.controls
												%select
													%option 12 Hours
													%option 24 Hours
										.control-group
											%label.control-label{:for => "inputEmail"}
												Show Service as
											.controls
												%input{:type => "text"}/
										.control-group
											%label.control-label{:for => "inputEmail"}
												Service Provide as
											.controls
												%input{:type => "text"}/
										.control-group
											%label.control-label{:for => "inputEmail"}
												Show Address as
											.controls
												%input.input-medium{:type => "text"}/
												%input.input-medium{:type => "text"}/
												%input.input-medium{:type => "text"}/
					#embed.tab-pane
						.span3
							%h3 Embed
							%ul#Ul2.nav.nav-pills.nav-stacked.side-list
								%li.active
									%a{"data-toggle" => "tab", :href => "#embed/website"}
										%i.icon-desktop
										%span WEBSITE
								%li
									%a{"data-toggle" => "tab", :href => "#embed/plugins"}
										%i.icon-facebook-sign
										%span SOCIAL PLUGINS
								%li
									%a{"data-toggle" => "tab", :href => "#embed/analytics"}
										%i.icon-bar-chart
										%span GOOGLE ANALYTICS
								%li
									%a#A2{"data-toggle" => "tab", :href => "#embed/mailchimp"}
										%i.icon-maxcdn
										%span MAILCHIMP
						.span9
							.tab-content.level3-content
								#Div2.tab-pane.active
					#reviews.tab-pane
						.span3
							%h3 Reviews
							%ul#Ul3.nav.nav-pills.nav-stacked.side-list
								%li.active
									%a{"data-toggle" => "tab", :href => "#pref"}
										%i.icon-desktop
										%span Prefernce
								%li
									%a{"data-toggle" => "tab", :href => "#pending"}
										%i.icon-facebook-sign
										%span Pending
								%li
									%a{"data-toggle" => "tab", :href => "#publish"}
										%i.icon-bar-chart
										%span Published
								%li
									%a#A3{"data-toggle" => "tab", :href => "#hidden"}
										%i.icon-maxcdn
										%span Hidden
						.span9
							.tab-content.level3-content
								#pref.tab-pane.active
									%h3 Accept reviews from your customers through booking page
									%form.form-horizontal
										.control-group
											%label.control-label{:for => "inputEmail"}
												Accept Reviews
											.controls
												%input{:type => "checkbox"}/
								#pending.tab-pane
								#publish.tab-pane
									%h3 Published Reviews
									.row-fluid.line
										.span4
											%label May, 10 2014
										.span4
											%label Imran Hameed
										.span4
											%label
												%i.fa.fa-star>
												\&nbsp;
												%i.fa.fa-star>
												\&nbsp;
												%i.fa.fa-star>
												\&nbsp;
												%i.fa.fa-star-half-empty>
												\&nbsp;
												%i.fa.fa-star-half-empty
									.row-fluid.line
										.span4
											%label May, 10 2014
										.span4
											%label Imran Hameed
										.span4
											%label
												%i.fa.fa-star>
												\&nbsp;
												%i.fa.fa-star>
												\&nbsp;
												%i.fa.fa-star>
												\&nbsp;
												%i.fa.fa-star-half-empty>
												\&nbsp;
												%i.fa.fa-star-half-empty
								#hidden.tab-pane		