%link{:href =>"/assets/main.css", :rel =>"stylesheet"}
	#main.container-fluid.padded-none
		%section
			.row-fluid
				.span12
					.slider
						.slider-inner
							.container-fluid
								.row-fluid
									.span6.text-center
										.section
											%header
												%h1 SERVU
												%h3 BUILD TO SERVE
											%p ServU helps you manage appointments, schedules and customers, all through an easy to use web application. ServU helps you manage appointments, schedules and customers, all through an easy to use web application.
											%footer
												%a.btn-text.large
													%i.fa.fa-book>
														Learn More...
									.hidden-phone.span6.text-center.sepration
										.section
											%img{src: "/assets/responsive-theme.png"}/
			.row-fluid
				%footer
					%a{:href =>"/auth/facebook", :class =>"btn-big facebook"}
						%i.fa.fa-facebook.fa-3x.pull-left
						%label Facebook
					%a.btn-big.google
						%i.fa.fa-google-plus.fa-3x.pull-left
						%label Google Plus
		%section
			.row-fluid
				.container-fluid.second
					.span4
						.circle
							%i.fa.fa-cube.fa-3x
						%label.circle-head Custom
						%label Logo
						%p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						%p
							%a.btn-text{href: "#"} View details »
					.span4
						.circle
							%i.fa.fa-cloud-upload.fa-3x
						%label.circle-head Cloud
						%label Based
						%p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						%p
							%a.btn-text{href: "#"} View details »
					.span4
						.circle
							%i.fa.fa-bomb.fa-3x
						%label.circle-head Appointment
						%label Alerts
						%p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
						%p
							%a.btn-text{href: "#"} View details »
			.row-fluid
				%footer
		%section
			.row-fluid
				.container-fluid.third
			.row-fluid
				%footer
	-#%script{src: "/assets/jquery-1.7.2.min.js"}
	-#%script{src: "/assets/bootstrap.js"}
	-#%script{src: "/assets/jquery.onepage-scroll.js"}